.grid-container {
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 85px;
}

.top-box {
    background: blue;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 85px;
}

.portrait {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
}

.name {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: right;
}

.portal {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: left;
}

.links {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: left;
}

.bottom-box {
    background: blue;
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-year {
    margin-top: 7px;
    margin-bottom: 2.5px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.footer-update {
    margin-top: 2.5px;
    margin-bottom: 7px;
}