body {
    font-family: 'Cairo', sans-serif;
    background-color: #121212;
}

header {
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 1100px;
    margin: auto auto 10px auto;
    transition: 0.3s;
    display: grid;
}

nav {
    max-width: 760px;
    grid-column: 2;
    grid-row: 1;
}

.navigation {
    flex-direction: column;
    max-height: 200px;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation li:last-child  {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-left: auto;
    max-width: 42px;
    display: block;
    right: 0px;
}

.navigation li {
    display: none;
}

.navigation a {
	font-size: clamp(1rem, 2vmin, 1.5rem);
	text-decoration: none;
	color: #ffffff;
	padding: 0.75rem;
	text-align: left;
	font-weight: 700;
	transition: 0.5s;
	display: block;
}

#discover:hover {
    background-color: rgba(0, 119, 255, 0.5);
    color: white;
}

#directory:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}

#join:hover {
    background-color: rgba(228, 25, 255, 0.5);
    color: white;
}

#contact:hover {
    background-color: rgba(255, 136, 0, 0.616);
    color: white;
}

.navigation a:hover {
    background-color:#ffffff;
    font-weight: 700;
    color: black;
}

.responsive li {
    display: block;
}

#top-image {
    transition: 0.3s;
    display: block;
    height: 200px;
    margin: 15px;
    width: 150px;
}

#top-image:hover {
    box-shadow: 0px 0px 10px 7px rgba(218, 27, 37, 0.589);
}

#long-date {
    color: #ffffff;
}

.social {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 3;
    grid-row: 2;
}

.social img {
    transition: .4s;
    height: 45px;
    width: 45px;
    margin: 3px;
}

#yahoo {
    border-radius: 22px;
}

#facebook {
    border-radius: 22px;
}

#yahoo:hover {
    box-shadow: 0px 0px 7px 2px rgba(115, 14, 158, 0.877);
}

#facebook:hover {
    box-shadow: 0px 0px 7px 2px rgb(0, 142, 241, 0.5);
}

#content {
    width: 100%;
    margin: 0 auto;
}

main {
    color: white;
}

#buttons {
    text-align: center;
}

button {
    font-size: 20px;
    display: inline;
    margin: auto auto 9px auto;
}

.cards {
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.cards section {
    border: 1px solid navy;
    background-color: rgba(31,31,31,255);
    border-radius: 15px;
    padding: 19px;
    text-align: center;
    width: 300px;
    margin: 20px;
}

.cards img {
    max-height: 200px;
    max-width: 200px;
}

#club-business {
    max-width: 280px;
}

table {
    margin: auto;
    width: 100%;
    max-width: 1100px;
}

td {
    padding: 10px;
    display: block;
    text-align: center;
}

tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.05);
}

.bottom-box {
    background-color: rgba(255, 255, 255, 0.05);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
    margin-right: auto;
    text-align: center;
    max-width: 1100px;
    margin-left: auto;
}

#hazard-logo {
    margin: 5px auto;
    display: block;
    height: 200px;
    width: 150px;
}

.hazardville a {
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	transition: 0.2s;
	padding: 0.5rem;
    display: block;
}

.hazardville p {
	margin-bottom: 0.5rem;
	text-decoration: none;
	margin-top: 0.1rem;
	color: #ffffff;
	transition: 0.2s;
    display: block;
}

.hazardville h3 {
    margin: 2px auto;
    color: #ffffff;
    max-width: 250px;
}

footer {
    padding-bottom: 5px;
    padding-top: 3px;
    margin-top: 5px;
}

.footer-year {
    margin-bottom: 2.5px;
    margin-top: 7px;
    color: white;
}

.break {
    height: 0;
}

.footer-update {
    margin-bottom: 0px;
    margin-top: 2.5px;
    color: #5299CB;
}

@media only screen and (min-width: 760px) {
    .navigation {
        flex-direction: row;
    }
    .navigation li:last-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation li a {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align: center;
        color: white;
    }
    #discover:hover {
        box-shadow: 0px 10px 0px 0px rgba(0, 119, 255, 0.5);
    }
    #directory:hover {
        box-shadow: 0px 10px 0px 0px rgba(255, 0, 0, 0.5);
    }
    #join:hover {
        box-shadow: 0px 10px 0px 0px rgba(228, 25, 255, 0.5);
    }
    #contact:hover {
        box-shadow: 0px 10px 0px 0px rgba(255, 136, 0, 0.616);
    }
    #top-image {
        grid-row: 1 / 3;
        margin: 15px auto;
    }
    #long-date {
        grid-column: 1 / 3;
    }
    td {
        display: table-cell;
        line-height: 2.5;
        width: 25%;
    }
    .hazardville {
        display: grid;
    }
    .hazardville h3 {
        margin: auto;
    }
    #hazard-logo {
        align-self: center;
        margin: 5px auto;
        grid-column: 1;
        grid-row: 1;
    }
    #contact-info{
        grid-column: 3;
        margin: auto;
        grid-row: 1;
    }
}