body {
    font-family: 'Cairo', sans-serif;
    background-color: #121212;
}

header {
    display: grid;
    max-width: 1100px;
    grid-template-rows: 200px auto;
    background-color: rgba(255, 255, 255, 0.05);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
}

nav {
    max-width: 760px;
    grid-row: 1;
    grid-column: 2;
}

.navigation {
    list-style: none;
    padding: 0;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.navigation li:last-child  {
    display: block;
    max-width: 42px;
    margin-left: auto;
    position: absolute;
    right: 0px;
}

.navigation li {
    display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
    color: #000000;
    background-color:#ffffff;
    font-weight: 700;
}

.responsive li {
    display: block;
}

#top-image {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#long-date {
    color: #ffffff;
    grid-column: 1 / 3;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: grid;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main p {
    padding-left: 5px;
}

.card {
    height: 200px;
    border: 2px solid black;
    margin: 7px;
    border-radius: 5px;
	color: #ffffff;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.hero:hover {
    box-shadow: 0px 0px 7px 2px rgba(0, 162, 255, 0.322);
}

.event:hover {
    box-shadow: 0px 0px 7px 2px rgba(0, 255, 21, 0.322);
}

.weather:hover {
    box-shadow: 0px 0px 7px 2px rgba(162, 0, 255, 0.322);
}

.spotlight:hover {
    box-shadow: 0px 0px 7px 2px rgba(255, 0, 0, 0.322);
}

.join:hover {
    box-shadow: 0px 0px 7px 2px rgba(229, 255, 0, 0.322);
}

.news-release:hover {
    box-shadow: 0px 0px 7px 2px rgba(255, 102, 0, 0.322);
}

.spotlight {
    height: 450px;
}

.spot {
    height: 200px;
    margin: 1px;
    border: 1px solid black;
}

.spot1 {
    grid-row: 1;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0px;
}

.spot2 {
    grid-row: 2;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0px;
}

.spot3 {
    display: none;
}

.bottom-box {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #121212;
}

footer {
    padding-top: 3px;
    padding-bottom: 5px;
}

.footer-year {
    margin-top: 7px;
    margin-bottom: 2.5px;
    color: white;
}

.break {
    height: 0;
}

.footer-update {
    color: #5299CB;
    margin-top: 2.5px;
    margin-bottom: 0px;
}

@media only screen and (min-width: 565px) {
    .navigation {
        flex-direction: row;
    }
    .navigation li:last-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation li a {
        color: white;
    }
    #top-image {
        grid-row: 1 / 3;
    }
    .hero {
        grid-column: 1 / 4;
        grid-row: 1;
    }
    .event {
        grid-column: 1 / 3;
        grid-row: 5;
    }
    .weather {
        grid-column: 3;
        grid-row: 5;
    }
    .news-release {
        grid-column: 1 / 4;
        grid-row: 2;
    }
    .spotlight {
        display: grid;
        height: 214px;
        grid-column: 1 / 4;
        grid-row: 3;
    }
    .spot1 {
        grid-column: 1;
        grid-row: 1;
        margin: 1%;
    }
    .spot2 {
        grid-column: 2;
        grid-row: 1;
        margin: 1%;
    }
    .join {
        grid-column: 1 / 4;
        grid-row: 4;
    }
}

@media only screen and (min-width: 960px) {
    main {
        grid-template-columns: auto auto auto auto;
    }
    .hero {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        height: 425px;
    }
    .event {
        grid-column: 1;
        grid-row: 1;
    }
    .weather {
        grid-column: 1;
        grid-row: 2;
    }
    .news-release {
        grid-column: 2 / 4;
        grid-row: 3;
    }
    .spotlight {
        grid-column: 4 / 5;
        grid-row: 1 / 4;
        display: block;
        height: 650px;
    }
    .spot1 {
        height: 208px;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 0px;
    }
    .spot2 {
        height: 208px;
        margin-bottom: 0px;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 0px;
    }
    .spot3 {
        border-style: solid;
        height: 210px;
        display: block;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 0px;
    }
    .join {
        grid-column: 1;
        grid-row: 3;
    }
}