<!DOCTYPE html>
<html lang="en">   
    <head>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="css/stylesheet.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Website for my Final Project in WDD230">
        <title>
            Hazard Research Labs
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul class="navigation">
                    <li>
                        <a class='nav' href='index.html'>
                        Home
                        </a>
                    </li>
                    <li>
                        <a class='nav' href='labs.html'>
                        Labs
                        </a>
                    </li>
                    <li>
                        <a class='nav' href='join.html'>
                        Join
                        </a>
                    </li>
                    <li>
                        <a class='nav' href='experiments.html'>
                        Experiments
                        </a>
                    </li>
                    <li>
                        <a href='#' id="ham">
                            &#9776;
                        </a>
                    </li>
                </ul>
            </nav>
            <a href='index.html'><img class="logo" id="top-image" src="images/lab.webp" alt="Hazard Research Labs logo"></a>
            <h3 id="header">Hazard Research Labs</h3>
        </header>
        <main>
            
        </main>
        <footer class="bottom-box">
            <div id="info">
                <img id="lab-logo" src="images/lab.webp" alt="Hazard Research Labs logo">
                <h3><i>address</i> Hazardville, Delaware 19743</h3>
            </div>
            <div id="contact-info">
                <a href = "mailto:info@hazardresearchlabs.gov">
                    info@hazardresearchlabs.gov
                </a>
                <p>
                    (302) 756-5200
                </p>
                <p>
                    📍 Location Map
                </p>
            </div>
            <div id="copyright">
                <p class="footer-year">
                &copy; <span id="year"></span> | Hazard Research Labs | Jared Neal
                </p>
                <div class="break"></div>
                <p class="footer-update">
                Last updated: <span id="updateDate"></span>
                </p>
            </div>
        </footer>
        <script src="js/script.js"></script>
    </body>
</html>