body {
    margin: auto;
    background-color: #192428;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

header {
    grid-template-columns: 2fr 1fr;
    background-color: #FFAC00;
    margin: auto auto 10px auto;
    min-height: 170px;
    display: grid;
    text-align: left;
}

#header {
    margin: 5px;
    align-items: center;
}

nav {
    grid-column: 2;
    grid-row: 1 / 3;
}

.navigation {
    flex-direction: column;
    max-height: 200px;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation li:last-child  {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-left: auto;
    max-width: 42px;
    display: block;
    right: 0px;
}

.navigation li {
    display: none;
}

.navigation a {
	font-size: clamp(1rem, 2vmin, 1.5rem);
	text-decoration: none;
	color: #ffffff;
	padding: 0.75rem;
	text-align: left;
	font-weight: 700;
	transition: 0.5s;
	display: block;
}

.responsive li {
    display: block;
}

#top-image {
    margin: 5px;
}

h1 {
    text-align: left;
    margin-left: 10px;
    color: #FFAC00;
}

.index-main {
    text-align: center;
}

a {
    color: white;
}

.logo {
    height: 105px;
    width: 105px;
}

.main-card {
    background-color: #2D383C;
    border-style: solid;
    text-align: center;
    border-width: 2px;
    border-color: #C9F0FF;
    margin: 5px auto;
    transition: .3s;
}

.main-card:hover {
    border-color: #FFAC00;
}

.main-card p {
    margin: 5px auto;
    max-width: 90%;
}

#who p {
    margin: 5px auto;
    max-width: 500px;
}

#contact ul {
    padding: 0px;
    list-style: none;
}

a {
    color: #FFAC00;
}

#social img {
    width: 50px;
}

.image {
    margin: 5px auto;
    max-width: 100%;
}

.bottom-box {
    background-color: #FFAC00;
    color: black;
    text-align: center;
}

#lab-logo {
    margin: 5px;
    max-height: 100px;
    max-width: 100px;
}

#contact-info a {
    color: white;
}

.footer-year {
    margin-top: 0px;
    padding-top: 16px;
}

.footer-update {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

#updateDate {
    color: white;
}

@media only screen and (min-width: 700px){
    header {
        grid-template-columns: 1fr 1.5fr;
        text-align: center;
    }
    .navigation {
        flex-direction: row;
        justify-content: flex-end;
    }
    .navigation li {
        display: block;
    }
    .navigation a {
        font-size: 1.62em;
        padding: .75rem 1.4vw;
    }
    .navigation li:last-child {
        display: none;
    }
    .index-main {
        display: grid;
        max-width: 1100px;
        margin: auto;
    }
    .main-card {
        margin: 5px;
    }
    #welcome {
        grid-row: 1;
        grid-column: 1 / 4;
    }
    #who {
        grid-row: 2;
        grid-column: 1 / 4;
    }
    #book {
        grid-row: 3;
        grid-column: 3;
    }
    #current {
        grid-row: 5;
        grid-column: 2 / 4;
    }
    #more {
        grid-row: 4;
        grid-column: 1 / 4;
    }
    #contact {
        grid-row: 3;
        grid-column: 1 / 3;
    }
    #social {
        grid-row: 5;
        grid-column: 1;
    }
    .bottom-box {
        display: grid;
    }
    #info {
        grid-row: 1;
        grid-column: 2;
    }
    #contact-info {
        grid-row: 1;
        grid-column: 1;
        margin: auto;
    }
    #copyright {
        grid-row: 2;
        grid-column: 1 / 3;
    }
    .labs-main {
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
    #labs-div {
        grid-row: 2;
        grid-column: 1 / 3;
    }
    #research {
        grid-row: 4;
        grid-column: 1;
    }
    #sbeed {
        grid-row: 3;
        grid-column: 1 / 3;
    }
    #clear {
        grid-row: 4;
        grid-column: 2;
    }
    .groups-main {
        display: grid;
        grid-template-columns: 1.75fr .75fr;
    }
    #group-head {
        grid-row: 1;
        grid-column: 1 / 3;
    }
    #group-p {
        grid-row: 2;
        grid-column: 1 / 3;
    }
    #group {
        grid-row: 3;
        grid-column: 1;
    }
    #testimonials {
        grid-row: 3 / 5;
        grid-column: 2;
    }
    #join {
        grid-row: 4;
        grid-column: 1;
    }
    .extended-main {
        display: grid;
        grid-template-columns: 25% 25% 1fr .75fr;
        max-width: 1100px;
        margin: auto;
    }
    .extended-main h1 {
        grid-row: 1;
        grid-column: 1 / 5;
    }
    #extend-p {
        grid-row: 2;
        grid-column: 1 / 5;
    }
    #outside {
        grid-row: 3;
        grid-column: 1 / 3;
    }
    #inside {
        grid-row: 3;
        grid-column: 3 / 5;
    }
    #extend-testimonials {
        grid-row: 4;
        grid-column: 1 / 4;
    }
    #extend-join {
        grid-row: 4;
        grid-column: 4;
    }
    .thankyou-main {
        display: grid;
    }
    #ty-contact {
        grid-row: 2;
        grid-column: 1;
    }
    #ty-current {
        grid-row: 2;
        grid-column: 2;
    }
}

@media only screen and (min-width: 1100px){
    header {
        grid-template-columns: 1fr 1.5fr 2fr;
        min-height: 0px;
        text-align: left;
    }
    #top-image {
        grid-column: 1;
    }
    #header {
        grid-column: 2;
        text-align: left;
        font-size: xx-large;
        margin: auto;
    }
    nav {
        grid-column: 3;
    }
    .nav:hover {
        box-shadow: 0px 10px 0px 0px white;
        background-color: white;
        color: black; 
    }
    #top-image {
        height: 50px;
        width: 50px;
    }
    .index-main {
        grid-template-columns: 1.5fr .8fr;
    }
    #who {
        display: grid;
        grid-template-columns: 2.85fr 1fr;
        grid-row: 2 / 4;
        grid-column: 1;
    }
    #who h2 {
        grid-row: 1;
        grid-column: 2;
    }
    #who img {
        margin: auto 5px;
        grid-row: 1 / 3;
        grid-column: 1;
    }
    #who p {
        margin: auto 5px;
        grid-row: 1 / 3;
        grid-column: 2;
    }
    #book {
        grid-row: 5 / 7;
        grid-column: 2;
    }
    #current {
        grid-row: 2;
        grid-column: 2;
    }
    #more {
        grid-row: 3 / 5;
        grid-column: 2;
    }
    #contact {
        grid-row: 6;
        grid-column: 1;
    }
    #social {
        grid-row: 4 / 6;
        grid-column: 1;
    }
    #info {
        grid-row: 1;
        grid-column: 3;
    }
    #contact-info {
        grid-row: 1;
        grid-column: 1;
        margin: auto;
    }
    #copyright {
        grid-row: 1;
        grid-column: 2;
        margin: auto;
    }
    .labs-main {
        grid-template-columns: 1fr;
    }
    #labs-div {
        grid-row: 2;
        grid-column: 1;
    }
    #research {
        grid-row: 3;
        grid-column: 1;
        display: grid;
        grid-template-columns: 2fr 1.5fr;
    }
    #research img {
        grid-row: 1;
        grid-column: 1;
    }
    #research p {
        grid-row: 1;
        grid-column: 2;
        margin: auto;
    }
    #sbeed {
        grid-row: 4;
        grid-column: 1;
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    }
    #sbeed img {
        grid-row: 1;
        grid-column: 2;
    }
    #sbeed p {
        grid-row: 1;
        grid-column: 1;
        margin: auto;
    }
    #clear {
        grid-row: 5;
        grid-column: 1;
        display: grid;
        grid-template-columns: 2fr 1.5fr;
    }
    #clear img {
        grid-row: 1;
        grid-column: 1;
    }
    #clear p {
        grid-row: 1;
        grid-column: 2;
        margin: auto;
    }
    .extended-main {
        grid-template-columns: 2fr 1fr;
    }
    #outside {
        grid-row: 3;
        grid-column: 1;
        display: grid;
    }
    #outside img {
        grid-row: 1;
        grid-column: 1;
    }
    #outside p {
        grid-row: 1;
        grid-column: 2;
        margin: auto;
    }
    #inside {
        grid-row: 4;
        grid-column: 1;
        display: grid;
    }
    #inside img {
        grid-row: 1;
        grid-column: 2;
    }
    #inside p {
        margin: auto;
        grid-row: 1;
        grid-column: 1;
    }
    #extend-testimonials {
        grid-row: 3 / 5;
        grid-column: 2;
    }
    #extend-join {
        grid-row: 5;
        grid-column: 1 / 3;
    }
    .join-main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .join-main h1 {
        grid-row: 1;
        grid-column: 1 / 3;
    }
    .information {
        grid-row: 2;
        grid-column: 1 / 3;
    }
    #list {
        grid-row: 3;
        grid-column: 1;
    }
    form {
        grid-row: 3;
        grid-column: 2;
        width: 100%;
    }
}

/* EXPERIMENTS.HTML */

.experiments-main {
    max-width: 1100px;
    margin: auto;
}

.experiments-main h2 {
    color: #FFAC00;
    text-align: left;
    margin-left: 10px;
}

#collection {
    text-align: center;
    margin: auto;
    width: 90%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    justify-content: space-around;
}

.cards p {
    max-width: 275px;
    margin: 5px auto;
}

.card {
    background-color: #2D383C;
    border-style: solid;
    border-width: 2px;
    border-color: #C9F0FF;
    margin: 5px;
    transition: .3s
}

.card:hover {
    border-color: #FFAC00;
}

#image {
    max-width: 250px;
}

@media only screen and (min-width: 1100px) {
    #collection {
        text-align: center;
        margin: auto;
        max-width: 1100px;
    }
}

/* JOIN.HTML */

.join-main {
	color: #ffffff;
    text-align: center;
    max-width: 1100px;
    margin: auto;
}

.join-main p {
    margin: 5px auto;
    max-width: 90%;
}

.information {
    max-width: 1100px;
    margin: auto;
}

form {
    background-color: #2D383C;
    border-style: solid;
    border-width: 2px;
    border-color: #C9F0FF;
    margin: 5px;
    max-width: 1100px;
    transition: .3s;
}

form:hover {
    border-color: #FFAC00;
}

label, input, textarea {
    display: block;
    margin: 5px auto;
    transition: .3s;
}

#firstname {
    margin-top: 0px;
    padding-top: 7px;
}

textarea:not(:placeholder-shown):invalid, input:not(:placeholder-shown):invalid {
    border-left: red solid 4px;
}

textarea:required:valid, input:required:valid {
    border-left: green solid 4px;
}

textarea:required:focus, input:required:focus {
    border-left: blue solid 6px;
}

.radio input {
    display: inline;
}

#submit {
    padding: 5px 20px;
    transition: .4s;
}

#submit:hover {
    background-color: #FFAC00;
    color: white;
}

#space {
    padding: 5px;
}

/* LABS.HTML */

.labs-main {
    text-align: center;
    max-width: 1100px;
    margin: auto;
}

.labs-main p {
    margin: 5px auto;
    max-width: 90%;
}

/* EXTENDED-STAY.HTML */

.extended-main {
    text-align: center;
}

.extended-main p {
    margin: 5px auto;
    max-width: 90%;
}

/* GROUPS.HTML */

.groups-main {
    text-align: center;
    max-width: 1100px;
    margin: auto;
}

.groups-main p {
    margin: 5px auto;
    max-width: 90%;
}

.name {
    color: #FFAC00;
    text-align: left;
}

/* THANKYOU.HTML */

.thankyou-main {
    text-align: center;
    max-width: 1100px;
    margin: auto;
}

.thankyou-main p {
    margin: auto;
    max-width: 90%;
}

#ty-contact ul {
    padding: 0px;
    list-style: none;
} 